<div class="container">
<div class="col-md-8">
<h1>About the Course</h1>
<h2>Course Description</h2>
<p>In this class you will learn how to design, develop, and write information for electronic media. This includes designing and developing for mobile and desktop interfaces.</p>

<p>By the end of this course you should be able to</p>
<ul>

	<li>Design and develop web applications that solves a tangible problem for a specific user group using a UX process</li>
	<li>Conduct UX research and construct actionable profiles based on your research.</li>
	<li>Build web applications using Ruby on Rails and understand how the model-view-controller framework functions</li>
	<li>Work effectively in teams and use GitHub to manage your application</li>
	<li>Test the functionality of your application using formal and informal testing methodologies.</li>
</ul>
	<h2>Course Materials</h2>
		<ul>
			<li><a href="https://www.baserails.com/marketplace">$25 subscription to BaseRails Etsy Video Tutorial</a>
			<li>UX Strategy, Jaime Levy</li>
			<li>Design of Everyday things, Donald Norman</li>
			<li>Ruby on Rails Tutorial, Hartl (RoR Tutorial) <a href="https://www.railstutorial.org/book/">Free Here</a></li>
		</ul>
	</div>

	<div class="col-md-4 projects-right">
		<div class="padding-right">

		<h1>Vital Course Information</h1>
			  		<ul>
			  			<li><b>Time:</b>  M/W 3:30 - 4:50 p.m.</li>
			  			<li><b>Location:</b>  Auditorium Building 302</li>
			  			<li><b>Office Hours:</b>  Monday/Wednesday 2:00-3:00 or by appointment</li>
			  			<li><b>Email:</b>  christopher.lam at unt dot edu</li>
			  		</ul>
		</div>
	</div>
</div>