<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>You are editing: "<%= @lesson.name %>"</h1>

<%= render 'form' %>

<%= link_to 'Show', @lesson %> |
<%= link_to 'Back', lessons_path %>
</div>
</div>